# Convert a many to many relationship

In [9]:
#Import chung creators, with the identifier linked to the creator
import pandas as pd
df_chung=pd.read_csv('chung_creator.csv')
df_chung.head()

   ID RBSC_Access Identifier    RBSC_Creator
0   1             CC-PH-28-1       [unknown]
1   2             CC-PH-28-2       [unknown]
2   3             CC-PH-28-3  Browne, D. L.
3   4             CC-PH-29-1       [unknown]
4   5             CC-PH-30-1       [unknown]

In [10]:
df_chung=df_chung.set_index('ID')

In [11]:
#Convert dataframe to dictionary for processing
chung_creator=df_chung.to_dict()

In [12]:
creators=chung_creator["RBSC_Creator"]

In [13]:
for key, creator in creators.items():
    creators[key]=list(str(creator).strip(";").strip().split(";"))

In [14]:
creators[55]

['Yip, Randall ', ' Canadian Broadcasting Corporation']

In [15]:
old_creators_df=pd.DataFrame.from_dict(creators,orient='index')

In [18]:
cols=["ID","Creator"]
creatorsMtoM=pd.DataFrame(columns=cols)

In [19]:
creatorsMtoM

Empty DataFrame
Columns: [ID, Creator]
Index: []

In [20]:
old_creators_df.head()

               0     1     2     3     4     5     6
1      [unknown]  None  None  None  None  None  None
2      [unknown]  None  None  None  None  None  None
3  Browne, D. L.  None  None  None  None  None  None
4      [unknown]  None  None  None  None  None  None
5      [unknown]  None  None  None  None  None  None

In [ ]:
for key,z in creators.items():
        creators_new[key]=z;
        for index, item in enumerate(z):
            if str(x[0]).strip()==str(item).strip():
                creators_new[key][index] = str(x[1]).strip()